{% load staticfiles %}

<div id="comment-guidelines-popup" class="full-screen-popup">
	<div class="x"><i class="fa fa-close"></i></div>
	<h2>Comment Guidelines</h2>
	<p>
		Pump the breaks for just one second, and look over
		these guidelines before posting your comment.
	</p>
	<ul class="red-font">
		<li>
			Your comment should provide an update, helpful tip(s),
			review, or opinion on the resource.
		</li>

		<li>
			Avoid comments like "thanks", and "good one!". Instead, simply
			upvote the post to show your support.
		</li>

		<li>
			Have ideas for comment guidelines? Let us know.
		</li>
	</ul>

	<a href="#" id="got-it" class="btn btn-warning-wv">got it</a>
</div>