<div class="modal fade" id="personalizeFeed" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">What do you want to learn more about?</h4>
        <input id="topic-search" class="super-light-font" name="search" placeholder="search topics" type="text" data-toggle="hideseek" data-list="#topic-list">
      </div>
      <div class="modal-body">

        <div id="saving" class="ajax-update green-font">
          <p>saving your new settings...</p>
          <i class="fa fa-spin fa-spinner"></i>
        </div>

        <div id="success" class="ajax-update green-font">
          <p>success! reloading feed in <span id="countdown">3</span></p>
          <i class="fa fa-check"></i>
        </div>                

        <div id="error" class="ajax-update red-font">
          <p><b>that's an error. please reload the page and try again.</b></p>
          <i class="fa fa-exclamation-triangle"></i>
        </div>

        <div id="topic-list">
        {% for k, v in topics.items %}
          {% if k in fav_topics %}
          <a href="javascript:" class="favorite" data-topic="{{ k }}">{{ k }}</a>
          {% else %}
          <a href="javascript:" data-topic="{{ k }}">{{ k }}</a>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <a id="submit" class="btn btn-primary" href="{% url 'accounts:feed' username=user.username %}"><i class="fa fa-magic"></i> save personalization</a>
      </div>
    </div>
  </div>
</div>