{% load staticfiles %}
{% load humanize %}
{% load cropping %}
{% load markdown_filter %}

<div class="posts">
	{% if not groups %}
	<div id="subscribe-to-topics">
		<h1>Huzzah!!! <i class="fa fa-frown-o"></i></h1>
		<p>You'll need to follow some Topics first.</p>
		<a data-toggle="modal" data-target="#personalizeFeed" id="personalize" class="btn btn-alert"><i class="fa fa-child"></i> view Topics</a>
	</div>	
	{% endif %}

	{% for group in groups %}

		{% if forloop.counter == 2 %}
		<div class="feed-alert">
			<img class="wiki" src="{% static 'core/images/wikivinci-head-logo.png' %}" />
			<p class="main">Wikivinci is brand new and needs your help! Have you come across a good tutorial or resource recently? <a id="add-post" class="action" href="#">Add it to Wikivinci and earn more IQ.</a></p>
			<a class="close" href="javascript:"><i class="fa fa-close"></i></a>
		</div>		
		{% endif %}	

<!-- 		{% if group.date >= naturalday_limit %}
		<h2 id="day-group" class="super-light-font">{{ group.date|naturalday }} <span class="super-super-light-font">({{ group.date|date:"l, F d" }})</span></h2>				
		{% else %}
		<h2 id="day-group" class="super-light-font">{{ group.date|date:"l, F d" }}</h2>				
		{% endif %} -->

		{% for obj in group.posts %}
			{% if obj.obj_type == "POST" %}
			<div class="post" data-skill-level="{{ obj.skill_level }}">
				{% if user.account in obj.upvoters.all or user.account in obj.downvoters.all %}
				<div class="votes-contain voted" data-url="{% url 'posts:vote' %}" data-voted="true" data-object-id="{{ obj.pk }}">			
				{% else %}
				<div class="votes-contain" data-url="{% url 'posts:vote' %}" data-object-id="{{ obj.pk }}">			
				{% endif %}
					<i data-vote-direction="up" class="fa fa-caret-up"></i>
					<span class="count">{{ obj.vote_count }}</span>
					<i data-vote-direction="down" class="fa fa-caret-down"></i>
				</div>

				<div class="title-contain">
					<h2>
						{% if user.account.moderator and not obj.has_topics %}
						<a class="file-topic-link" href="javascript:" data-toggle="modal" data-target="#topicAddPostPopup" data-post-pk="{{ obj.pk }}" title="File to Topic">
							<i class="fa fa-inbox"></i> |
						</a>
						{% endif %}

						<a href="{% url 'posts:view' slug=obj.slug %}">{{ obj.title }}</a>
						{% if obj.youtube_video %}
						<i class="fa fa-video-camera super-light-font"></i>
						{% endif %}
					</h2>
					<p class="super-light-font">{{ obj.description|truncatechars:99 }}</p>
					<span class="timestamp super-super-light-font">submitted <b>{{ obj.created|naturaltime }}</b> / </span>
					<span class="skill-level super-super-light-font">skill level: <span class="{{ obj.skill_level }}"><b>{{ obj.skill_level }}</b></span></span>				
				</div>

				<div id="profilePopup{{ obj.id }}" class="user-profile-tooltip">
					<img class="owner" src="{% cropped_thumbnail obj.owner 'cropping' %}" />
					<p class="username">{{ obj.owner.owner.username }}</p>
					<p class="points"><i class="fa fa-graduation-cap"></i> {{ obj.owner.points }} IQ</p>
					<br />
					{% if obj.owner.title %}			
					<p class="title super-light-font">{{ obj.owner.title }}</p>
					{% endif %}
					<a class="btn btn-clear" href="{% url 'accounts:profile' username=obj.owner.owner.username %}">view profile</a>
				</div>			

				<div class="owner-contain hidden-xs hidden-sm">
					<img data-target="#profilePopup{{ obj.id }}" class="owner profile-hover-toggle" src="{% cropped_thumbnail obj.owner 'cropping' %}" />
				</div>			

				<div class="post-info-contain super-light-font">
					<i class="fa fa-comments super-super-light-font"></i><span class="comment-count super-super-light-font">{{ obj.comments.all.count }}</span>
				</div>
			</div>

			{% elif obj.obj_type == "COMMENT" %}
			<div class="post comment">
				<div class="comment-icon">
					<i class="fa fa-comment"></i>
				</div>

				<div class="comment-contain">
					<p class="text">{{ obj.text|markdownify|safe|striptags|truncatechars:250 }}</p>
					<p class="comment-on super-light-font">comment posted {{ obj.created|naturaltime }} by <a href="{% url 'accounts:profile' username=obj.owner.owner.username %}">{{ obj.owner.owner.username }}</a> on <a href="{{ obj.absolute_url }}">{{ obj.post.title }}</a></p>
				</div>

				<div id="profilePopup{{ obj.id }}" class="user-profile-tooltip">
					<img class="owner" src="{% cropped_thumbnail obj.owner 'cropping' %}" />
					<p class="username">{{ obj.owner.owner.username }}</p>
					<p class="points"><i class="fa fa-graduation-cap"></i> {{ obj.owner.points }} IQ</p>
					<br />
					{% if obj.owner.title %}			
					<p class="title super-light-font">{{ obj.owner.title }}</p>
					{% endif %}
					<a class="btn btn-clear" href="{% url 'accounts:profile' username=obj.owner.owner.username %}">view profile</a>
				</div>			

				<div class="owner-contain hidden-xs hidden-sm">
					<img data-target="#profilePopup{{ obj.id }}" class="owner profile-hover-toggle" src="{% cropped_thumbnail obj.owner 'cropping' %}" />
				</div>		
			</div>
			{% endif %}					
		{% endfor %}
	{% endfor %}

	{% for obj in feed_objs %}
	{% endfor %}
</div>