<div class="modal fade" id="moderatorApplication" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help moderate {{ topic.name }}</h4>
      </div>
      <div class="modal-body">
        <p id="explain">Thanks! We could use the help. As a moderator, you'll have the ability to file resources into this topic, as well remove
          inappropriate resources. Let us know why you'd be
          a good person to help moderate this topic. The more IQ you have, the better your chances are, but that doesn't always matter.</p>
        <br />
        <form method="POST" action="{% url 'topics:apply' slug=topic.slug %}">
          {% csrf_token %}
          <textarea name="body"></textarea>
          <input id="submit" type="submit" class="btn btn-primary" value="Submit Application">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>