{% load staticfiles %}

<div id="post-add-popup">
	<div class="x"><i class="fa fa-close"></i></div>
	<h2>Submit a new link</h2>
	
	<div id="guidelines" class="hidden-xs">
		<p id="title" class="red-font">
			<i class="fa fa-warning"></i>
			<span class="hidden-xs">Guidelines for Submissions</span>
		</p>
		
		<!-- need to add in mobile friendly  -->
		<div id="guidelines-container">
			<p class="descr">
				Our goal is to make Wikivinci a <b>very high
				quality</b> database of learning materials. That'll
				only happen with your help. Take a minute and review the
				following guidelines before submitting.
			</p>

			<ul>
				<li>
					Avoid submitting news. Your submission should
					be useful for a long period of time.
				</li>

				<li>
					Avoid submitting products. Submitting books, courses, etc. that 
					need to be purchased is encouraged, but submitting "Adobe Photoshop"
					is not. 
				</li>

				<li>
					Any format (videos, slides, blog post, etc.) is fine, just
					make sure the learning value is explicit within the material.
				</li>
			</ul>
		</div>
	</div>
</div>