<div class="modal fade" id="profilePicCropModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cropping Genie</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'accounts:settings' username=user.username %}">
          {% csrf_token %}
          {{ profile_pic_form.cropping }}
          <div class="hidden">
            {{ profile_pic_form.profile_pic }}
          </div>
          <br />
          <input type="submit" class="btn btn-primary" value="save new cropping" />
        </form>
      </div>
    </div>
  </div>
</div>