{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block content %}
<div id="about" class="container">
	<div class="toprow">
		<h2>About Wikivinci</h2>
		<!-- <p class="sub-title super-light-font"></p> -->
	</div>

	<div id="wikivinci">
		<p>Self-learning is hard. For anything you need/want to learn, there are hundreds of resources and tutorials online, all with their own flavor. As a learner, you need to evaluate all of these resources before deciding which one to utilize.
		<br />
		<br />
		How old is the resource? Is it still relevant? Did other people use it? Is the author available for questions? -- these are just a few of the questions you might ask yourself as you try to find a good resource to learn from.
		<br />
		<br />
		<b>Wikivinci was created to help fix this.</b> Community members, like you, can post good resources and tutorials to Wikivinci. Other community members have the ability to upvote, downvote, and add comments to every 
		resource on Wikivinci, including the ones you add. The goal is for the community to curate these resources and tutorials over time, so that it's easier for people to find the best resources for learning.
		<br />
		<br />
		<b>Wikivinci is brand new, and needs your help!</b> Sign up for an account and post any good resources/tutorials/etc. you've found in the past. It all helps!  
		</p>
	</div>

</div>
{% endblock content %}S