{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block content %}
<div id="about" class="container">
<!-- 	<div class="toprow">
		<h2>About Wikivinci</h2>
		<p class="sub-title super-light-font"></p>
	</div> -->

	<div id="wikivinci">
		<p>
		Wikivinci was created to help people learn faster, and to promote continued learning.
		<br />
		<br />
		Often times, self-learning is harder than it needs to me. There are dozens of tutorials and
		resources online for anything you want to learn, but how do you decide which one to learn from?
		<br />
		<br />
		It's easy to waste your time evaluating tutorials. Is it too out-dated to learn from? Is the author
		credible? Has anyone else learned from this tutorial, and what did they think? These are some of
		the questions you might ask yourself as you're evaluating a learning material.
		<br />
		<br />
		Wikivinci was created because of this. Community members, like you, can submit high quality tutorials and resources, for any topic. Other members in the community have the ability to upvote, downvote, and comment on everything that's submitted to the platform.
		<br />
		<br />
		Over time, hopefully this community curation will make it easy to find the top X tutorials or resources for any topic. Easily, and without wasting time.
		<br />
		<br />
		In the mean time, you can sign up for an account to receive a digest of high quality tutorials
		and resources on any topic(s) you want to learn more about. This is a great way to keep learning,
		and to keep track of what's being added to Wikivinci!
		<br />
		<br />
		If you have any feedback, please feel free to email me: dylanbfox[at]gmail.com.
		</p>
	</div>

</div>
{% endblock content %}S