{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block extra_head %}
{{ profile_pic_form.media }}
{% endblock extra_head %}

{% block content %}

{% include 'core/partials/profile-pic-crop-popup.html' %}

<div class="container">
	<div class="toprow">
		<h2>Account Settings</h2>
		<!-- <p class="sub-title super-light-font"></p> -->
	</div>

	<form id="account-edit" method="POST" action="{% url 'accounts:settings' username=user.username %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="profile-pic-form-group" class="form-group hidden-xs hidden-sm">
			<img id="profile-pic" src="{% cropped_thumbnail account 'cropping' %}" />
			<a id="change-profile-pic" href="#">change profile picture</a> / 
			<a href="#" class="green-font" data-toggle="modal" data-target="#profilePicCropModal">re-crop photo</a>
			<input id="new-profile-pic" type="file" name="profile-pic" />
		</div>

		{% for field in account_edit_form %}
		<div id="{{ field.name }}" class="form-group {% if field.errors %}error{% endif %}">	
			{{ field.errors }}
			{{ field.label_tag }}
			{{ field }}
		</div>
		{% endfor %}			

		<input type="submit" class="btn btn-success" value="save settings" />
	</form>	
</div>
{% endblock content %}