<!DOCTYPE html>

{% load staticfiles %}
{% load cropping %}

<html>
	<head>
		{% block extra_head %}
		{% endblock extra_head %}

		{% block meta %}
		<title>Wikivinci.com | Learn Faster. Top resources and tutorials, curated by the self-learning community.</title>
		<meta content="Wikivinci.com | Learn Faster. Top resources and tutorials, curated by the self-learning community." property="og:title">
		{% endblock %}
		<meta content="Wikivinci helps you learn faster. Find top resources and tutorials, posted and ranked by community members, for anything you need to learn." name="description">
		<meta content="Wikivinci helps you learn faster. Find top resources and tutorials, posted and ranked by community members, for anything you need to learn." property="og:description">
		<meta content="{% static 'core/images/fb-meta-img.jpg' %}" property="og:image">		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'core/css/wikivinci.css' %}" rel="stylesheet">
		<link href="{% static 'core/css/wikivinci-responsive.css' %}" rel="stylesheet">		
		{% block extra_styles %}
		{% endblock extra_styles %}		
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<!-- Add in conditional classes for IE -->
		<!--[if IE 8]><html class="ie8"><![endif]-->	
	</head>

	<div id="master-holder">
	<body>

	{% include 'core/partials/authenticate-popup.html' %}
	{% include 'core/partials/post-add-popup.html' %}

	<!-- Header -->
		{% block header %}
		<div id="header">
			<div class="container">
				<a id="logo" href="{% url 'pages:home' %}"><img src="{% static 'core/images/wikivincilogo-horiz-v3.png' %}" /></a>

				<a id="mobile-menu-toggle" class="visible-xs visible-sm super-light-font"><i class="fa fa-bars"></i></a>
				<div id="links">
				<a id="add-post" href="#"><span class="btn btn-success">add resource</span></a>
				{% if user.is_authenticated %}
				<a id="auth" href="#">
					<img id="profile-pic" src="{% cropped_thumbnail user.account 'cropping' %}" />
					<span id="points"><i class="fa fa-star"></i> {{ user.account.points }}</span>				
				</a>
				<!-- desktop only -->				
				<div id="account-dropdown" class="hidden-xs hidden-sm">
					<a href="{% url 'accounts:profile' username=user.username %}">profile</a>
					<a href="{% url 'accounts:settings' username=user.username %}">settings</a>
					<a href="{% url 'accounts:logout' %}">logout</a>
				</div>
				<!-- mobile only -->
				<a class="visible-xs visible-sm" href="{% url 'accounts:profile' username=user.username %}">Profile</a>
				<a class="visible-xs visible-sm" href="{% url 'accounts:settings' username=user.username %}">Settings</a>
				<a class="visible-xs visible-sm" href="{% url 'accounts:logout' %}">Logout</a>							
				{% else %}
				<a data-toggle="modal" data-target="#authenticateModal" href="#">Login</a>				
				{% endif %}
				<a href="{% url 'pages:contributors' %}">Contributors</a>
				<a href="{% url 'posts:topics' %}">Topics</a>
				<!-- <a href="#">Courses</a>	 -->				
				<a href="#">About</a>
				</div>
			</div>
		</div>
		{% endblock %}
	<!-- Page content -->
		<div id="page-content">
			{% block content %}
			{% endblock content %}
		</div>
	<!-- Footer -->	
		{% block footer %}
		<div id="footer">
		</div>
		{% endblock %}

	    <script src="{% static 'core/js/jquery.js' %}"></script>
	    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'core/js/csrf.js' %}"></script>
	    <script src="{% static 'core/js/wikivinci.js' %}"></script>	    
	    {% block extra_scripts %}
	    {% endblock extra_scripts %}
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54a6298f272a4991" async="async"></script>		   
	</body>
	</div>

</html>