{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block content %}
<div class="container">
	<div class="toprow">
		<h2>Contributors</h2>
		<p class="sub-title super-light-font">The following contributors are helping to create, and improve, Wikivinci. Join them by posting, voting, or commenting.</p>
	</div>

	<div id="contributors">
	{% for account in accounts %}
		<div class="contributor">
			<img class="profile-pic" src="{% cropped_thumbnail account 'cropping' %}"/>
			<div class="info">
				<a href="{% url 'accounts:profile' username=account.owner.username %}">{{ account.owner.username }}</a>
				<p class="title super-light-font">{{ account.title }}</p>
				<p class="points"><b>{{ account.points }}</b></p>
			</div>
		</div>
	{% endfor %}
	</div>

</div>
{% endblock content %}