{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block extra_modals %}
	{% include 'core/partials/personalize-feed-popup.html' %}
	
	{% if user.is_authenticated and user.account.moderator %}
		{% include 'core/partials/topic-add-post-popup.html' %}
	{% endif %}	
{% endblock extra_modals %}

{% block content %}
<div id="feed" class="container">
	<div class="toprow">
		<h2><i class="fa fa-bolt"></i> Your feed</h2>
		<p style="margin-left:10px;" class="sub-title super-light-font">
			<a class="feed-toggle {% if personalize %}active{% endif %}" href="{% url 'accounts:feed' username=user.username %}">subscribed topics</a>
			
			<a class="feed-toggle {% if not personalize %}active{% endif %}" href="{% url 'accounts:feed' username=user.username %}?personalize=0">all activity</a>
		</p>
		
		{% if account.subscribed_to_topics %}
		<p id="personalize"><a href="#" data-target="#personalizeFeed" data-toggle="modal"><i class="fa fa-sliders"></i>personalize</a></p>
		{% endif %}
	</div>
	{% include 'core/partials/feed-stream.html' %}
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'core/js/jquery.hideseek.min.js' %}"></script>
{% endblock extra_scripts %}