{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block content %}
{% include 'core/partials/feed-topic-personalization.html' %}

<div id="feed" class="container">
	<div class="toprow">
		<h2><i class="fa fa-bolt"></i> Your feed</h2>
		<p style="margin-left:10px;" class="sub-title super-light-font">learn from the newest and most interesting resources and tutorials added to Wikivinci.</p>
		<p id="personalize"><a href="#" data-target="#personalizeFeed" data-toggle="modal"><i class="fa fa-sliders"></i>personalize feed</a></p>
	</div>
	{% include 'core/partials/feed-stream.html' %}
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'core/js/jquery.hideseek.min.js' %}"></script>
{% endblock extra_scripts %}