{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}
{% load markdown_filter %}

{% block content %}
<div id="home" class="container">

	<div id="top-cta">
		<div id="left">
			<h2>Keep learning. <span class="super-light-font">Browse recently added tutorials and resources posted by the community.</h2>
			<form method="GET" action="{% url 'posts:view_all' %}">
				<input type="text" name="contains" placeholder="Learn about: (eg: Django, Python, Startups)" / />
				<input type="submit" value="search" class="btn btn-primary" />
				<p class="form-tooltip super-super-light-font"><b>popular searches:</b>
					{% for k, v in topics.items|slice:":7" %}
					<a href="{% url 'posts:view_all' %}?topic={{ k }}">{{ k }}{% if not forloop.last%}<span>, {% endif %}</span></a>
					{% endfor %}
				</p>
			</form>
		</div>

		<div id="right">
			<h2>Help others learn. <span class="super-light-font">Post helpful tutorials and interesting resources for others to learn from too.</span></h2>
			<a href="#" id="add-post" class="btn btn-success"><i class="fa fa-book"></i> add a resource</a>
		</div>
	</div>

<!-- 	<div id="explicit-search">
		<h2>looking for something specific? <span>Wikivinci is brand new, but there might be a highly rated tutorial on what you're looking for.</span></h2>
		<form method="GET" action="{% url 'posts:view_all' %}">
			<input type="text" name="contains" placeholder="Eg: Django, Python, Startups, Javascript" / />
			<input type="submit" value="search" class="btn btn-primary" />
			<p class="form-tooltip super-super-light-font"><b>popular searches:</b>
				{% for k, v in topics.items|slice:":7" %}
				<a href="{% url 'posts:view_all' %}?topic={{ k }}">{{ k }}{% if not forloop.last%}<span>, {% endif %}</span></a>
				{% endfor %}
			</p>
		</form> 
	</div> -->

	<div id="activity">
		<div id="recent-posts">
			<h2>Recently added resources</h2>
			{% for post in posts %}
			<div>
				<p><a href="{% url 'posts:view' slug=post.slug %}">{{ post.title }}</a></p>
				<img src="{% cropped_thumbnail post.owner 'cropping' %}">
			</div>
			{% endfor %}
		</div>
				
		<div id="recent-comments">
			<h2>Recent comments</h2>
			{% for comment in comments %}
			<div>
				<p><a href="{{ comment.absolute_url }}">{{ comment.text|markdownify|safe|striptags|truncatechars:250 }}</a></p>
				<img src="{% cropped_thumbnail comment.owner 'cropping' %}">
			</div>
			{% endfor %}
		</div>		
	</div>

	<div id="wikivinci" class="super-light-font hidden-xs">
		<h2>What is Wikivinci?</h2>
		<p>Self-learning is hard. For anything you need/want to learn, there are hundreds of resources and tutorials online, all with their own flavor. As a learner, you need to evaluate all of these resources before deciding which one to utilize.
		<br />
		<br />
		How old is the resource? Is it still relevant? Did other people use it? Is the author available for questions? -- these are just a few of the questions you might ask yourself as you try to find a good resource to learn from.
		<br />
		<br />
		<b>Wikivinci was created to help fix this.</b> Community members, like you, can post good resources and tutorials to Wikivinci. Other community members have the ability to upvote, downvote, and add comments to every 
		resource on Wikivinci, including the ones you add. The goal is for the community to curate these resources and tutorials over time, so that it's easier for people to find the best resources for learning.
		<br />
		<br />
		<b>Wikivinci is brand new, and needs your help!</b> Sign up for an account and post any good resources/tutorials/etc. you've found in the past. It all helps!  
		</p>
	</div>	
</div>
{% endblock content %}