{% extends 'core/base.html' %}

{% load staticfiles %}

{% block content %}
<div id="home" class="container">
	<h2>Learn faster. <span class="super-light-font">Top resources and tutorials, curated by the self-learning community.</span></h2>
	<form method="GET" action="{% url 'posts:view_all' %}">
		<input type="text" name="contains" placeholder="What do you need to learn about?" / />
		<input type="hidden" name="top" value="true" />
		<input type="submit" value="search" class="btn btn-success" />
		<p class="form-tooltip"><b>tip:</b> separate terms by commas</p>
	</form>

	<div id="wikivinci" class="super-light-font">
		<h2>What is Wikivinci?</h2>
		<p>Self-learning is hard. For anything you need/want to learn, there are hundreds of resources and tutorials online, all with their own flavor. As a learner, you need to evaluate all of these resources before deciding which one to utilize.
		<br />
		<br />
		How old is the resource? Is it still relevant? Did other people use it? Is the author available for questions? -- these are just a few of the questions you might ask yourself as you try to find a good resource to learn from.
		<br />
		<br />
		<b>Wikivinci was created to help fix this.</b> Community members, like you, can post good resources and tutorials to Wikivinci. Other community members have the ability to upvote, downvote, and add comments to every 
		resource on Wikivinci, including the ones you add. The goal is for the community to curate these resources and tutorials over time, so that it's easier for people to find the best resources for learning.
		<br />
		<br />
		<b>Wikivinci is brand new, and needs your help!</b> Sign up for an account and post any good resources/tutorials/etc. you've found in the past. It all helps!  
		</p>
	</div>	

	<div id="activity">
		<div id="recent-posts">
			<h2>Recently added resources</h2>
			{% for post in posts %}
			<div>
				<p><a href="{% url 'posts:view' slug=post.slug %}">{{ post.title }}</a></p>
				<img src="{{ post.owner.profile_pic.url }}">
			</div>
			{% endfor %}
		</div>

		<div id="recent-comments">
			<h2>Recent comments</h2>
			{% for comment in comments %}
			<div>
				<p><a href="{% url 'posts:view' slug=comment.post.slug %}">{{ comment.text }}</a></p>
				<img src="{{ comment.owner.profile_pic.url }}">
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}