{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}
{% load humanize %}

{% block meta %}
<title>{% if topic %}{{ topic }} {% endif %}Tutorials and Resources on Wikivinci</title>
<meta content="{% if topic %}{{ topic }} {% endif %}Tutorials and Resources on Wikivinci" property="og:title">
{% endblock %}

{% block content %}
<div class="container">
	<div class="toprow">
		<h2>{% if top %}Top{% else %}Recently Added{% endif %} {% if topic %}'{{ topic }}'{% endif %} Resources {% if contains %}on '{{ contains }}'{% endif %}

		{% if top %}
		<a id="filter-top" href="{% url 'posts:view_all' %}{% if topic %}?topic={{ topic }}&{% else %}?{% endif %}{% if contains %}contains={{ contains }}{% endif %}">/ show recently added resources {% if contains %}on '{{ contains }}'{% endif %}</a>
		{% else %}
		<a id="filter-top" href="{% if topic %}?topic={{ topic }}&{% else %}?{% endif %}top=true{% if contains %}&contains={{ contains }}{% endif %}">/ show top rated resources {% if contains %}on '{{ contains }}'{% endif %}</a>
		{% endif %}
		</h2>

		<select id="skill-level-filter" class="large super-light-font">
			<option value="" class="super-light-font" disabled selected>Filter by Skill Level</option>			
			<option value="ALL">All</option>
			<option value="BEGINNER">Beginner</option>
			<option value="INTERMEDIATE">Intermediate</option>
			<option value="ADVANCED">Advanced</option>			
		</select>
	</div>

	<div class="posts">
		{% if groups %}
			{% for group in groups %}
				{% if group.date >= naturalday_limit %}
				<h2 id="day-group" class="super-light-font">{{ group.date|naturalday }} <span class="super-super-light-font">({{ group.date|date:"l, F d" }})</span></h2>				
				{% else %}
				<h2 id="day-group" class="super-light-font">{{ group.date|date:"l, F d" }}</h2>				
				{% endif %}

				{% for post in group.posts %}
					{% include 'core/partials/posts-view-single-post.html' %}				
				{% endfor %}
			{% endfor %}

		{% else %}
			{% for post in posts %}
				{% include 'core/partials/posts-view-single-post.html' %}
			{% endfor %}

		{% endif %}

<!-- 		{% if not posts or posts.count < 5 %}
		<p id="sorry" class="super-light-font">Looks like there haven't been many resources added for this topic. You can help! Click "add resource" in the top right corner to add a good resource you know of. Help build Wikivinci!</p>
		{% endif %} -->
	</div>
</div>
{% endblock content %}