{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}
{% load humanize %}

{% block meta %}
<title>Top{% if topic %}{{ topic }} {% endif %}Tutorials and Resources</title>
<meta content="{% if topic %}{{ topic }} {% endif %}Tutorials and Resources on Wikivinci" property="og:title">
{% endblock %}

{% block content %}
<div class="container">
	<div class="toprow">
		<h2>{% if top %}Top{% else %}Recently Added{% endif %} {% if topic %}'{{ topic }}'{% endif %} Resources {% if contains %}on '{{ contains }}'{% endif %}

		<a id="mobile-show-post-filters" class="visible-xs" href="javascript:"><i class="fa fa-sliders"></i> filter results</a>
		</h2>
	</div>

	<div id="all-posts-filters">
		<input id="search" name="search" placeholder="search results" type="text" data-toggle="hideseek" data-list="#all-posts">
		<div class="filter">
			<h3>Sort by</h3>
			<a {% if not top %}class="active"{% endif %} href="{% url 'posts:view_all' %}{% if topic %}?topic={{ topic }}{% elif contains %}?contains={{ contains }}{% endif %}">Recently Added</a>
			<br />
			<a {% if top %}class="active"{% endif %} href="?top=true{% if topic %}&topic={{ topic }}{% elif contains %}&contains={{ contains }}{% endif %}">Highest Rated</a>
		</div>

		<div id="all-posts-skill-filter" class="filter">
			<h3>Skill level</h3>
			<input type="checkbox" value="ALL" checked>All
			<br />
			<input type="checkbox" value="BEGINNER">Beginner
			<br />			
			<input type="checkbox" value="INTERMEDIATE">Intermediate
			<br />			
			<input type="checkbox" value="ADVANCED">Advanced			
		</div>

		<div class="filter visible-xs">
			<a id="hide" class="btn btn-danger" href="javascript:">close</a>
		</div>	
	</div>

	<div id="all-posts" class="posts">
		<div class="feed-alert">
			<img class="wiki" src="{% static 'core/images/wikivinci-head-logo.png' %}" />
			<p class="main">Wikivinci is new and needs your help! Know of a good tutorial or resource on <b>{% if topic %}{{ topic }}{% elif contains %}{{ contains }}{% endif %}</b>? <a id="add-post" class="action" href="#">Add it to Wikivinci, and earn reputation.</a></p>
			<a class="close" href="javascript:"><i class="fa fa-close"></i></a>
		</div>

		{% if groups %}
			{% for group in groups %}
<!-- 				{% if group.date >= naturalday_limit %}
				<h2 id="day-group" class="super-super-light-font">{{ group.date|naturalday }} <span class="super-super-light-font">({{ group.date|date:"l, F d" }})</span></h2>				
				{% else %}
				<h2 id="day-group" class="super-super-light-font">{{ group.date|date:"l, F d" }}</h2>
				{% endif %} -->

				{% for post in group.posts %}
					{% include 'core/partials/posts-view-single-post.html' %}				
				{% endfor %}
			{% endfor %}

		{% else %}
			{% for post in posts %}
				{% include 'core/partials/posts-view-single-post.html' %}
			{% endfor %}

			{% if not posts or posts.count < 5 %}
			<p id="sorry" class="super-light-font">Looks like there haven't been many resources added for this topic. You can help! Click "add resource" in the top right corner to add a good resource you know of. Help build Wikivinci!</p>
			{% endif %}			

		{% endif %}
	</div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'core/js/jquery.hideseek.min.js' %}"></script>
{% endblock extra_scripts %}