{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}
{% load markdown_filter %}

{% block meta %}
<title>{{ post.title }}. Posted on Wikivinci.</title>
<meta content="{{ post.title }}. Posted on Wikivinci." property="og:title">
{% endblock %}

{% block content %}
{% include 'core/partials/email-post-popup.html' %}
{% include 'core/partials/flag-post-popup.html' %}
<div id="single-post" class="container">
	<div id="left-column">

		{% if post.flagged %}
		<div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <b>WARNING:</b> This resource has been flagged by the community! It is pending removal.
		</div>
		{% endif %}

		<div id="post-ops">
			{% if user.is_authenticated %}			
			<a class="red-font" data-toggle="modal" data-target="#flagPostModal" href="#"><i class="fa fa-flag-o"></i></a>
			{% endif %}			
		</div>

		<div class="toprow">
			{% if post.disallow_vote %}
			<div class="votes-contain voted" data-voted="true" data-object-id="{{ post.pk }}" data-url="{% url 'comments:vote' %}">				
			{% else %}
			<div class="votes-contain" data-object-id="{{ post.pk }}" data-url="{% url 'posts:vote' %}">				
			{% endif %}
				<i data-vote-direction="up" class="fa fa-caret-up"></i>
				<span class="count">{{ post.vote_count }}</span>
				<i data-vote-direction="down" class="fa fa-caret-down"></i>
			</div>			
			
			<h2><a target="_blank" href="{% url 'posts:go' slug=post.slug %}">{{ post.title }} <i class="fa fa-external-link"></i></a></h2>
		</div>

		<p class="lighter-font post-descr">{{ post.description|urlize|linebreaksbr }}</p>

		<div class="addthis_toolbox addthis_default_style hidden-xs hidden-sm">
			<!-- <a class="addthis_button_linkedin_counter" li:counter="none"></a> -->
			<a class="addthis_button_tweet" tw:text="{{ post.title|truncatechars:100 }}. {% if post.owner.twitter_handle %}Submitted by {{ post.owner.twitter_handle }}{% endif %}"></a>
			<a class="custom-share-btn" href="#" data-toggle="modal" data-target="#emailPostModal"><i class="fa fa-envelope"></i> Email</a>			
			<a class="addthis_button_facebook_share" fb:share:layout="button"></a>
		</div>
			
		<div id="comments">
			<h2 id="comments-title" class="super-light-font">{{ comments.count }} comments</h2>
			{% for comment in comments %}
			<div class="comment" id="comment{{ comment.pk }}">
				{% if comment.disallow_vote %}
				<div class="votes-contain voted" data-voted="true" data-object-id="{{ comment.pk }}" data-url="{% url 'comments:vote' %}">				
				{% else %}
				<div class="votes-contain" data-object-id="{{ comment.pk }}" data-url="{% url 'comments:vote' %}">
				{% endif %}
					<i data-vote-direction="up" class="fa fa-caret-up"></i>
					<span class="count">{{ comment.vote_count }}</span>
					<i data-vote-direction="down" class="fa fa-caret-down"></i>
				</div>
				
				<div class="content">
					<div class="comment-owner hidden-xs hidden-sm">
						{% if comment.owner == post.author %}
						<span class="author-mark">A</span>
						{% endif %}
						<img src="{% cropped_thumbnail comment.owner 'cropping' %}" />
						<p class="owner"><span class="username">{{ comment.owner.owner.username }}</span>{% if comment.owner.title %}<span class="title super-super-light-font">{{ comment.owner.title }}</span>{% endif %}</p>
					</div>					
					<div class="text markdown-formatting">{{ comment.text|markdownify|safe|linebreaks }}</div>
					<span class="super-super-light-font timestamp">{{ comment.created }} by <a href="{% url 'accounts:profile' username=comment.owner.owner.username %}">{{ comment.owner.owner.username }}</a>.</span>

					{% if user.account == comment.owner %}
					<a id="delete" class="red-font" href="{% url 'comments:delete' %}" data-object-id="{{ comment.id }}">delete your comment</a>
					{% endif %}		
				</div>
			</div>
			{% endfor %}

			{% if not user.is_authenticated %}
			<p id="comment-points-disclaimer">Sign in to add a comment to this resource!</p>			
			{% elif user.account.can_comment %}
			<form id="add-comment" method="POST" action="{% url 'comments:add' %}" data-post-id="{{ post.id }}">
				<p class="super-light-font">You can help by commenting on this resource:</p>
				<textarea name="text"></textarea>
				<p class="form-help-text super-light-font">Format your comment with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a></p>
				<input type="submit" class="btn btn-success" value="Submit comment" />
			</form>
			{% else %}
			<p id="comment-points-disclaimer">Commenting on resources is currently limited to certain community members. Posting and voting on resources can help earn you the ability to comment.</p>
			{% endif %}			
		</div>		
	</div>

	<div id="right-column">
		<div id="post-info">

			<b>Good resource? Upvote it so others can find it!</b>

			{% if post.author %}
			<div id="author-img-contain">
				<span class="author-mark">A</span>
				<img class="owner" src="{% cropped_thumbnail post.author 'cropping' %}" />
			</div>

				{% if post.author == post.owner %}
				<p id="timestamp" class="super-light-font">submitted by <a href="{% url 'accounts:profile' username=post.owner.owner.username %}">{{ post.owner.owner.username }}</a> on {{ post.created }} {{ post.owner.owner.username }} authored this resource!</p>
				{% else %}
				<p id="timestamp" class="super-light-font">authored by <a href="{% url 'accounts:profile' username=post.author.owner.username %}">{{ post.author.owner.username }}</a></p>
				{% endif %}

			{% else %}
			<img class="owner" src="{% cropped_thumbnail post.owner 'cropping' %}" />
			<p id="timestamp" class="super-light-font">submitted by <a href="{% url 'accounts:profile' username=post.owner.owner.username %}">{{ post.owner.owner.username }}</a> on {{ post.created }}</p>			
			{% endif %}


			{% if post.tags %}
			<div id="tags">
				{% for tag in post.tags_to_list %}
				<span>{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}

			{% if post.author and post.author != post.owner %}
			<div id="submitted-by">
				<img class="owner" src="{% cropped_thumbnail post.owner 'cropping' %}" />
				<p id="timestamp" class="super-light-font">submitted by <a href="{% url 'accounts:profile' username=post.owner.owner.username %}">{{ post.owner.owner.username }}</a> on {{ post.created }}</p>
			</div>			
			{% endif %}

			{% if post.upvotes > 0 %}
			<div id="upvoters">
				<p id="title" class="super-light-font">upvoted by</p>
				{% for upvoter in post.upvoters.all %}
				<a href="{% url 'accounts:profile' username=upvoter.owner.username %}"><img class="profile-pic" src="{% cropped_thumbnail upvoter 'cropping' %}" /></a>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		{% if related_posts %}
		<div id="related-posts">
			<h2 class="super-super-light-font">RELATED RESOURCES</h2>
			{% for post in related_posts %}
			<div class="related-post">
				<a href="{{ post.absolute_url }}">{{ post.title }}</a>
				<p class="descr super-super-light-font">{{ post.description|truncatechars:50 }}</p>
			</div>
			{% endfor %}
		</div>		
		{% endif %}
	</div>
</div>
{% endblock content %}