{% extends 'core/base.html' %}

{% load staticfiles %}
{% load cropping %}

{% block meta %}
<title>{{ post.title }}. Posted on Wikivinci.</title>
<meta content="{{ post.title }}. Posted on Wikivinci." property="og:title">
{% endblock %}

{% block content %}
{% include 'core/partials/flag-post-popup.html' %}
<div id="single-post" class="container">
	<div id="left-column">

		{% if post.flagged %}
		<div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <b>WARNING:</b> This resource has been flagged by the community! It is pending removal.
		</div>
		{% endif %}

		<div id="post-ops">
			{% if user.is_authenticated %}			
			<a class="red-font" data-toggle="modal" data-target="#flagPostModal" href="#"><i class="fa fa-flag-o"></i></a>
			{% endif %}			
		</div>

		<div class="toprow">
			{% if post.disallow_vote %}
			<div class="votes-contain voted" data-voted="true" data-object-id="{{ post.pk }}" data-url="{% url 'comments:vote' %}">				
			{% else %}
			<div class="votes-contain" data-object-id="{{ post.pk }}" data-url="{% url 'posts:vote' %}">				
			{% endif %}
				<i data-vote-direction="up" class="fa fa-chevron-up"></i>
				<span class="count">{{ post.vote_count }}</span>
				<i data-vote-direction="down" class="fa fa-chevron-down"></i>
			</div>			
			
			<h2><a target="_blank" href="{% url 'posts:go' slug=post.slug %}">{{ post.title }}</a></h2>
		</div>

		<p class="lighter-font post-descr">{{ post.description|linebreaksbr }}</p>

		<div class="addthis_toolbox addthis_default_style hidden-xs hidden-sm">
			<a class="addthis_button_linkedin_counter" li:counter="none"></a>
			<a class="addthis_button_tweet" tw:text="{{ post.title|truncatechars:100 }}. {% if post.owner.twitter_handle %}Posted by {{ post.owner.twitter_handle }}{% endif %}"></a>
			<a class="addthis_button_facebook_share" fb:share:layout="button"></a>
		</div>
			
		<div id="comments">
			{% for comment in comments %}
			<div class="comment">
				<div class="comment-owner hidden-xs hidden-sm">
					<img src="{% cropped_thumbnail comment.owner 'cropping' %}" />
				</div>

				{% if comment.disallow_vote %}
				<div class="votes-contain voted" data-voted="true" data-object-id="{{ comment.pk }}" data-url="{% url 'comments:vote' %}">				
				{% else %}
				<div class="votes-contain" data-object-id="{{ comment.pk }}" data-url="{% url 'comments:vote' %}">
				{% endif %}
					<i data-vote-direction="up" class="fa fa-chevron-up"></i>
					<span class="count">{{ comment.vote_count }}</span>
					<i data-vote-direction="down" class="fa fa-chevron-down"></i>
				</div>
				
				<div class="content">
					<p>{{ comment.text|linebreaksbr }}</p>
					<span class="super-light-font timestamp">Comment posted {{ comment.created }} by <a href="{% url 'accounts:profile' username=comment.owner.owner.username %}">{{ comment.owner.owner.username }}</a>.</span>

					{% if user.account == comment.owner %}
					<a id="delete" class="red-font" href="{% url 'comments:delete' %}" data-object-id="{{ comment.id }}">delete your comment</a>
					{% endif %}		
				</div>
			</div>
			{% endfor %}

			{% if not user.is_authenticated %}
			<p id="comment-points-disclaimer">Sign in to add a comment to this resource!</p>			
			{% elif user.account.points >= 200 %}
			<form id="add-comment" method="POST" action="{% url 'comments:add' %}" data-post-id="{{ post.id }}">
				<p class="super-light-font">Have something to say about this resource? Add a comment!</p>
				<textarea name="text"></textarea>
				<input type="submit" class="btn btn-success" value="Submit comment" />
			</form>
			{% else %}
			<p id="comment-points-disclaimer">Commenting on resources is currently limited to community members with over 200 points. Earn 5 points every time you post a resource.</p>
			{% endif %}			
		</div>		
	</div>

	<div id="right-column">
		<div id="post-info">

			<b>Good resource? Upvote it so others can find it!</b>
			<img id="owner" src="{% cropped_thumbnail post.owner 'cropping' %}" />
			<p id="timestamp" class="super-light-font">posted by <a href="{% url 'accounts:profile' username=post.owner.owner.username %}">{{ post.owner.owner.username }}</a> on {{ post.created }}</p>

			{% if post.tags %}
			<div id="tags">
				{% for tag in post.tags_to_list %}
				<span>{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}

			{% if post.upvotes > 0 %}
			<div id="upvoters">
				<p id="title" class="super-light-font">upvoted by</p>
				{% for upvoter in post.upvoters.all %}
				<a href="{% url 'accounts:profile' username=upvoter.owner.username %}"><img id="owner" class="profile-pic" src="{% cropped_thumbnail upvoter 'cropping' %}" /></a>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}