{% extends 'core/base.html' %}

{% load staticfiles %}

{% block content %}
<div id="single-post" class="container">
	<div id="left-column">
		<div class="toprow">
			{% if post.can_vote %}
			<div class="votes-contain" data-object-id="{{ post.pk }}">			
			{% else %}
			<div class="votes-contain voted" data-voted="true" data-object-id="{{ post.pk }}">			
			{% endif %}
				<i data-vote-direction="up" class="fa fa-chevron-up"></i>
				<span class="count">{{ post.vote_count }}</span>
				<i data-vote-direction="down" class="fa fa-chevron-down"></i>
			</div>			
			
			<h2><a target="_blank" href="{{ post.url }}">{{ post.title }}</a></h2>
		</div>

		<p class="super-light-font post-descr">{{ post.description }}</p>

		<div id="comments">
			<div class="comment">
				<div class="comment-owner">
					<img src="{{ post.owner.profile_pic.url }}" />
				</div>

				<div class="votes-contain">
					<i class="fa fa-chevron-up"></i>
					<span class="count">{{ post.vote_count }}</span>
					<i class="fa fa-chevron-down"></i>
				</div>
				
				<div class="content">
					<p>This tutorial is for Django 1.5 but
					for those newere to Django, or those that
					haven't ever used middleware before, it's
					still very useful. Not much has changed between
					1.5 and 1.7 as it relates to middleware.</p>

					<span class="super-light-font timestamp">Comment originally posted January 8th, 2014 at 3:40PM - <a href="#">Submit Edits</a> (last edited by Dylan on January 10th, 2014 at 3:00PM) </span>
				</div>
			</div>

			<div class="comment">
				<div class="comment-owner">
					<img src="{{ post.owner.profile_pic.url }}" />
				</div>

				<div class="votes-contain">
					<i class="fa fa-chevron-up"></i>
					<span class="count">{{ post.vote_count }}</span>
					<i class="fa fa-chevron-down"></i>
				</div>
				
				<div class="content">
					<p>This tutorial is for Django 1.5 but
					for those newere to Django, or those that
					haven't ever used middleware before, it's
					still very useful. Not much has changed between
					1.5 and 1.7 as it relates to middleware.</p>

					<span class="super-light-font timestamp">Comment posted January 8th, 2014 at 3:40PM - <a href="#">Submit Edits</a></span>
				</div>
			</div>

			<div class="comment">
				<div class="comment-owner">
					<img src="{{ post.owner.profile_pic.url }}" />
				</div>

				<div class="votes-contain">
					<i class="fa fa-chevron-up"></i>
					<span class="count">{{ post.vote_count }}</span>
					<i class="fa fa-chevron-down"></i>
				</div>
				
				<div class="content">
					<p>This tutorial is for Django 1.5 but
					for those newere to Django, or those that
					haven't ever used middleware before, it's
					still very useful. Not much has changed between
					1.5 and 1.7 as it relates to middleware.</p>

					<span class="super-light-font timestamp">Comment posted January 8th, 2014 at 3:40PM</span>
				</div>
			</div>						
		</div>		
	</div>

	<div id="right-column">
		<div id="post-info">
			<b>Good tutorial? Upvote it!</b>
			<img id="owner" src="{{ post.owner.profile_pic.url }}" />
			<p id="timestamp" class="super-light-font">posted by {{ post.owner.owner.username }} on {{ post.created }}</p>

			{% if post.upvotes > 0 %}
			<div id="upvoters">
				<p id="title" class="super-light-font">upvoted by</p>
				{% for upvoter in post.upvoters.all %}
				<img id="owner" src="{{ upvoter.profile_pic.url }}" />
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}