{% extends 'core/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container" id="topics">
	<div class="toprow">
		<h2>Topics</h2>
		<p class="sub-title super-light-font">Topics are tags that other community have assigned to the posts and resources they've added to Wikivinci. Click any topic to view the posts and resources community members have added for it.</p>
		<!-- <input class="large" name="postsearch" type="text" placeholder="search" /> -->		
	</div>

	<input id="topic-search" name="search" placeholder="search for a topic" type="text" data-toggle="hideseek" data-list="#topics-list">
	<div id="topics-list">
	{% for k, v in topics.items %}
		<a href="{% url 'posts:view_all' %}?topic={{ k }}">{{ k }} <span class="count super-light-font">x{{ v.count }} resources</span></a>
	{% endfor %}
	</div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'core/js/jquery.hideseek.min.js' %}"></script>
{% endblock extra_scripts %}