/*phones and tablets*/
@media (min-width:100px) and (max-width:991px) {

	#post-add-popup {
		padding:40px;
	}	

	#page-content .posts .post > div.title-contain h2 {
		font-size:17px;
	}

	#personalizeFeed .modal-body #topic-list > a {
		width:auto;
	}

	#page-content #topics #topics-list > a {
		width:auto;
	}

	#header > .container {
		line-height:initial;
	}

	#header	> .container > a#logo img {
		height:45px;
	}

	#header > .container #links {
		display:none;
		position:fixed;		
		right:0;
		background-color:#FFF;
		height:100%;
		padding:15px;
		box-shadow:0px 0px 5px #A9A9A9;
		top:0;
	}

	#header > .container #links > a {
		float:none;
		display:block;
		margin-bottom:14px;
		margin-left:0px;
	}

	#header > .container #mobile-menu-toggle {
		float:right;
		font-size:33px;
	}

	#page-content {
		padding-top:15px;
	}

	#page-content .user-profile-tooltip {
		display:none !important;
	}

	#page-content > .container .toprow h2 {
		display:block;
	}

	#page-content > .container .toprow h2 a#mobile-show-post-filters {
		display:block;
		font-size:13px;
		margin-top:15px;		
	}

	#page-content > .container .toprow input,
	#page-content > .container .toprow select {
		float:none;
		padding:3px 1px;
		font-size:13px;		
	}

	#page-content #single-post #right-column #post-info span.author-mark {
		top:67px;
		left:37.5%;
	}	

	#page-content #single-post #comments .comment {
		padding:10px;
		border-bottom:1px solid #D9D9D9;
	}	

	#page-content #single-post #comments .comment .votes-contain {
		margin-right:12px;
	}	

	#page-content #single-post #comments .comment .content {
		float:none;
		margin-left:0px;
		width:initial;
	}

	#page-content #single-post #comments .comment .content .text {
		margin-top:0px;
		font-size:14px;
	}	

	#page-content #profile #profile-top #account-info {
		float:none;
	}
}

/*phones only*/
@media (min-width:100px) and (max-width:767px) {
	#page-content #all-posts-filters {
		display:none;
		float:none;
		position:absolute;
		width:100%;
		background-color:#FFF;
		padding:10px;
		border:1px solid #ECE4E4;
		max-width:85%;
		left:0;
		right:0;
		margin:0 auto;
		box-shadow:0px 1px 3px #423E3E;
		border-radius:4px;
	}

	#page-content #all-posts.posts {
		float:none;
		width:100%;
	}

	#page-content #home #top-cta h2 {
		font-size:21px;
		margin-top:26px;
		margin-bottom:45px;
	}

	#page-content #home #top-cta a#add-post {
		padding:11px;
		font-size:14px;
	}

	#page-content #home #activity {
		margin-top:50px;
	}

	#page-content #home #activity > div {
		width:100% !important;
	}

	#page-content #home #sign-up > h2 {
		font-size:16px;
	}

	#page-content #home #sign-up > a {
		margin-top:11px;
		padding:8px;
	}

	#personalizeFeed .modal-body {
		overflow:auto;
		max-height:200px;
	}

	#personalizeFeed .modal-header input#topic-search {
		float:left;
		width:100%;
		margin-top:10px;
	}	

	#page-content form input[type='submit'] {
		margin-top:5px;
	}	

	#page-content .posts .post > div.votes-contain {
		width:38px;
	}	

	#page-content .posts .post .votes-contain span.count {
		font-size:13px;
	}

	#page-content .posts .post > div.title-contain {
		margin-left:10px;
	}

	#page-content .posts .post .post-info-contain {
		font-size:13px;
		line-height:initial;
	}

	#page-content #single-post #left-column {
		width:100%;
		padding-bottom:50px;
	}

	#page-content #single-post #left-column .toprow h2 {
		display:inline-block;
		max-width:73%;
	}	

	#page-content #single-post #right-column {
		width:100%;
	}

	#page-content > .container .toprow .votes-contain {
		margin-bottom:10px;
	}

	#page-content #profile #profile-top {
		text-align:center;
	}

	#page-content #profile #profile-top img#profile-pic  {
		width:100px;
		height:100px;
		margin:0 auto;
		float:none;
		display:block;
		border-radius:100px;
		-webkit-border-radius:100px;
		-moz-border-radius:100px;		
	}

	#page-content #profile #activity #ops > a {
		display:block;
	}

	#page-content #profile #activity .feed > div > p.title > span.tags > span {
		margin-bottom:3px;
	}

	#page-content #profile #activity .feed > div > p.timestamp {
		float:left;
		clear:both;
		color:#909090;
		font-size:11px;
	}

	#page-content #contributors .contributor {
		width:100%;
		margin-bottom:0px;
	}

	#post-add-popup > .x {
		left:0px;
		top:0px;
		width:35px;
		height:35px;
		line-height:35px;
		font-size:20px;
		border-top-left-radius:0px;
		-moz-border-top-left-radius:0px;
		-webkit-border-top-left-radius:0px;
		border-bottom-left-radius:0px;
		-moz-border-bottom-left-radius:0px;
		-webkit-border-bottom-left-radius:0px;			
	}

	#post-add-popup form {
		float:none;
		width:100%;
	}

	#post-add-popup #guidelines {
		float:none;
		width:100%;
	}

	#page-content form#account-edit {
		width:100%;
	}

	#page-content #feed .posts .post.comment .comment-icon {
		font-size:28px;
		width:38px;
		text-align:center;
		margin-right:10px;
	}	
}

/*tablets*/
@media (min-width:768px) and (max-width:991px) {

	#post-add-popup > .x {
		top:-8px;
		left:-3px;
	}

	#page-content #home #top-cta h2 {
		margin-top:26px;
	}

	#page-content #home #activity > div#recent-posts {
		width:48%;
	}

	#personalizeFeed .modal-body {
		overflow:auto;
		max-height:280px;
	}

	#personalizeFeed .modal-header input#topic-search {
		float:right;
		width:200px;
	}

	#page-content > .container .toprow input,
	#page-content > .container .toprow select {
		padding:3px 1px;
		font-size:13px;		
	}

	#page-content #single-post #left-column .toprow h2 {
		display:inline-block;
		max-width:83%;
	}

	#page-content #profile #activity .feed > div > p.timestamp {
		clear:both;
		font-size:11px;
		color:#909090;
	}

	#page-content #contributors .contributor {
		width:48%;
		margin-bottom:0px;
		margin-right:0%;
	}	
}

@media (min-width:992px) and (max-width:1199px) {
	#header > .container #links > form#search {
		width:130px;
	}
	
	#header > .container #links > a {
		margin-left:22px;
	}	

	#page-content #contributors .contributor {
		width:33%;
		margin-bottom:0px;
		margin-right:0%;
	}

	#page-content .user-profile-tooltip {
		width:368px;
	}		
}