/****FOUNDATIONAL STUFF****/

html, body {
	min-height:100%; /*min height is 100% of viewport*/
	height:100%;
	width:100%;
	font-family: 'Roboto', sans-serif;
}

body {
	color:#3c3e43;
}

.main-font {
	color: #3c3e43 !important;
}

.lighter-font {
	color: #6a6a6a !important;
}

.super-light-font {
	color: #909090 !important;	
}

.red-font {
	color:#b94a48 !important;
}

.light-red-font {
	color:#ED4C4C !important;
}

.green-font {
	color:#4ea500 !important;
}

#master-holder {   /*All content sits in this so footer remains at bottom*/
	overflow-x:hidden;	
	height:100%;
	position:absolute;
	left:0;
	right:0;
	width:100%;
}

#page-content {
	overflow:auto;
	min-height:100%;
	padding-top:65px;	
	padding-left:0px;
	padding-right:0px;
	width:100%;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(241, 241, 241, 0.35);
	z-index: 999;
	display:none;
}

.clear-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(241, 241, 241, 0.0);
	z-index: 999;
	display:none;
}

html.ie8 .overlay {
	background-color:#212121;
	filter:alpha(opacity=80);
}

input,
textarea {
	border:1px solid #d9d9d9;
	font-weight:400;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-size:16px;
	padding:4px;
	width:100%;
}

textarea {
	max-width:100%;
	max-height:145px;
	height:100%;	
}

input[type='checkbox'],
input[type='radio'] {
	width:initial;
}

input.small {
	padding:4px;
	font-size:12px;
}

input.large {
	width:100%;
	padding:10px 4px;
	font-size:16px;
}

.form-group.error input,
.form-group.error textarea,
input.error,
textarea.error {
	border:1px solid #b94a48;
}

.form-group ul.errorlist {
	float:right;
	list-style-type:none;
	padding-left:0px;
	margin-top:2px;
	font-size:12px;
	color:#b94a48;
}

/****OVERRIDE BOOTSTRAP****/

a,
span,
p,
h1,
h2,
h3,
h4,
h5 {
	margin:0px 0px 0px 0px;
	font-family: 'Roboto', sans-serif;
}

.btn {
	font-weight:700;
}

.btn-success {
	border-bottom:2px solid #398439
}

.btn-danger {
	border-bottom:2px solid #d43f3a;
}

.btn-primary {
	background-color:#4A99E5;
	border:1px solid #357ebd;
	border-bottom:2px solid #357ebd;
}

.btn-clear {
	background-color:transparent;
	color:#3c3e43;
	border:2px solid #3c3e43;
}

/****POPUPS****/

.popup {
	display:none;
	position:fixed;
	z-index:9999;
	vertical-align:middle;
	margin:0 auto;
	left:0;
	right:0;
	top:100px;
	border-radius:2px;
}

#post-add-popup {
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	right:-3000px;
	width:50%;
	z-index:99;
	background-color:#D9D9D9;
	box-shadow:-1px 0px 2px #A8A8A8;
	padding:30px 40px;
}

#post-add-popup > .x {
	cursor:pointer;
	position:absolute;
	z-index:999;
	top:15px;
	left:-45px;
	width:45px;
	height:58px;
	line-height:58px;
	border:1px solid #E5761A;
	border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;	
	background-color:#F47F1D;
	font-size:30px;
	font-weight:700;
	text-align:center;
	color:#FFF;
}

#post-add-popup #success {
	text-align:center;
	margin-top:75px;
	font-size:16px;	
}

#post-add-popup #success i.fa {
	font-size:74px;
	color:#076699;
}

#post-add-popup h2 {
	font-size:20px;
	margin-bottom:10px;
}

#post-add-popup p#subheader {
	font-size:16px;
	margin-bottom:20px;
}

#post-add-popup #suggested-topics {
	display:none;
	margin-top:4px;
	background-color:#FFF;
	box-shadow:0px 1px 2px #A19898;
	font-size:13px;	
}

#post-add-popup #suggested-topics h4 {
	padding:3px;
	font-size:13px;
	background-color:#BEBEBE;	
}

#post-add-popup #suggested-topics h4 > #close {
	cursor:pointer;
	float:right;
	margin-right:5px;
	font-weight:700;
}

#post-add-popup #suggested-topics > p {
	padding:3px;
}

#post-add-popup #suggested-topics > p:hover {
	background-color:#F9FF9B;
}

#authenticateModal {

}

#authenticateModal p#alert {
	display:none;
	margin-bottom:15px;
}

#authenticateModal form {
	max-width:400px;
}

#authenticateModal form .form-group input {
	padding:10px;
	font-weight:300;
}

#header {
	box-shadow:0px 1px 1px #CFCFCF;
	padding-top:7px;
	padding-bottom:7px;
}

#header > .container {
	line-height:65px;
}

#header > .container > a {
	float:right;
	margin-left:36px;
	font-size:16px;
	text-decoration:none;
}

#header > .container > a#logo {
	margin-left:0px;
	float:left;
}

#header	> .container > a#logo img {
	height:65px;	
}

#header > .container > a#add-post span.btn {
	padding:5px 10px;
	color:#FFF;
	font-size:13px;
}

#header > .container > a img#profile-pic {
	margin-right:5px;
	width:40px;
	height:40px;
	border:1px solid #A6A6A6;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;		
}

#header > .container > a span#username {
	margin-right:10px;
	font-size:13px;
	font-weight:700;
}

#header > .container > a span#points {
	padding:4px 10px;
	font-size:13px;
	font-weight:700;
	color:#FFF;
	background-color:#3F98C8;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

#header > .container > a span#points > i.fa {
	margin-right:4px;
}

#header #account-dropdown {
	display:none;
	position:absolute;
	top:66px;
	right:225px;
	width:125px;	
	background-color:#F0F0F0;
	color:#FFF;
	padding:10px;
	border-radius:4px;
	border:1px solid #C0BFBF;
	box-shadow:0px 1px 1px #EFEFEF;	
}

#header #account-dropdown > a {
	display:block;
	line-height:normal;
	font-size:14px;
	margin-bottom:5px;
}

#page-content #home {
	width:70% !important;
	min-width:300px !important;	
}

#page-content #home h2 {
	margin-bottom:35px;
}

#page-content #home h2 > span {
	font-size:18px;
	font-weight:400;
}

#page-content #home form {
	overflow:auto;
}

#page-content #home form input {
	padding:15px;
}

#page-content #home form input[name='contains'] {
	width:83%;
	float:left;
}

#page-content #home form input[type='submit'] {
	float:right;
	width:15%;
}

#page-content #home form .form-tooltip {
	clear:both;
	color:#D5D5D5;
	padding-top:5px;
	margin-top:5px;
	font-size:14px;
}

#page-content #home #wikivinci {
	margin-top:75px;
	font-size:14px;
}

#page-content #home #wikivinci h2 {
	font-size:16px;
	margin-bottom:10px;
}

#page-content #home #activity {
	margin-top:75px;
}

#page-content #home #activity > div {
	float:left;
	width:42.5%;
	margin-right:15%;
}

#page-content #home #activity > div:last-child {
	margin-right:0px;
}

#page-content #home #activity > div > h2 {
	margin-bottom:25px;
	font-size:16px;
}

#page-content #home #activity > div > div {
	overflow:auto;
	padding-bottom:10px;
	margin-bottom:15px;
	border-bottom:1px solid #D9D9D9;	
}

#page-content #home #activity > div > div > p {
	max-width:80%;
	float:left;
}

#page-content #home #activity > div > div > img {
	width:50px;
	height:50px;
	border:1px solid #A6A6A6;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	float:right;	
}

#page-content .votes-contain i.fa {
	cursor:pointer;
}

#page-content .votes-contain.voted {
	color:#FFCD47 !important;
}

#page-content > .container .toprow {
	margin-bottom:20px;
}

#page-content > .container .toprow h2 {
	display:inline-block;
	padding-bottom:2px;
	font-size:22px;
	font-weight:400;
	max-width:85%;
}

#page-content > .container .toprow h2 a#filter-top {
	font-size:13px;
	margin-left:4px;	
}

#page-content > .container .toprow p.sub-title {
	margin-top:20px;
	font-size:17px;	
}

#page-content > .container .toprow span.link-type {
	margin-left:10px;
	padding:4px;
	font-weight:700;
	text-transform:uppercase;
	font-size:13px;
	background-color:#FFAB47;
	border:1px solid #FF9A21;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFF;
}

#page-content > .container .toprow input {
	float:right;
	width:200px;
}

#page-content > .container .toprow .votes-contain {
	display:inline-block;
	margin-right:20px;
	width:55px;
	padding:3px 8px;
	border:1px solid #4289AE;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#2084B9;
	color:#FFF;
	box-shadow:0px 1px 0px #266281;	
}

#page-content > .container .toprow .votes-contain > i,
#page-content > .container .toprow .votes-contain > span {
	display:block;
	margin-top:3px;
	text-align:center;
}

#page-content > .container .toprow .votes-contain span.count {
	font-size:18px;
	font-weight:700;
}

#page-content #topics {
	padding-top:25px;
}

#page-content #topics > a {
	float:left;
	padding:10px;
	background-color:#F2B000;
	color:#FFF;
	font-weight:700;
	font-size:14px;
	border-radius:6px;
	margin:0px 20px 20px 0px;	
}

#page-content #topics > a > span.count {
	margin-left:6px;
	font-weight:400;
}

#page-content .posts {
	padding-top:25px;
}

#page-content .posts #sorry {
	font-size:17px;
	max-width:800px;	
}

#page-content .posts .post {
	overflow:auto;
	min-height:80px;
	margin-bottom:50px;
	padding-bottom:10px;	
}

#page-content .posts .post > div {
	float:left;
}

#page-content .posts .post > div.title-contain {
	width:70%;
	margin-left:30px;
}

#page-content .posts .post > div.title-contain h2 {
	font-size:20px;
	margin-bottom:5px;
}

#page-content .posts .post > div.title-contain p {
	font-size:16px;
}

#page-content .posts .post > div.title-contain span.timestamp {
	display:block;
	font-size:13px;
	margin-top:12px;
}

#page-content .posts .post > div.votes-contain {
	width:55px;
	padding:3px 8px;
	border:1px solid #4289AE;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#2084B9;
	color:#FFF;
	box-shadow:0px 1px 0px #266281;	
}

#page-content .posts .post .votes-contain > i,
#page-content .posts .post .votes-contain > span {
	display:block;
	margin-top:3px;
	text-align:center;
}

#page-content .posts .post .votes-contain span.count {
	font-size:18px;
	font-weight:700;
}

#page-content .posts .post .post-info-contain {
	float:right; /*overwrite*/
	margin-left:30px;
	font-weight:700;
	font-size:20px;
	line-height:70px;
}

#page-content .posts .post .post-info-contain i.fa {
	margin-right:5px;
}

#page-content .posts .post .owner-contain {
	float:right; /*overwrite*/
	line-height:70px;
	margin-left:30px;
}

#page-content .posts .post .owner-contain img.owner {
	width:50px;
	height:50px;
	border:1px solid #A6A6A6;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;	
}

#page-content #single-post #left-column {
	float:left;
	width:65%;
	padding-bottom:100px;
}

#page-content #single-post #left-column .toprow h2 {
	vertical-align:top;
}

#page-content #single-post #right-column {
	float:right;
	width:30%;
}

#page-content #single-post #left-column p.post-descr {
	font-size:17px;
}

#page-content #single-post #left-column #post-ops {
	margin-bottom:10px;
}

#page-content #single-post #left-column #post-ops > a {
	display:inline-block;
	font-size:16px;
}

#page-content #single-post #comments {
	margin-top:75px;
}

#page-content #single-post #comments .comment {
	position:relative;
	overflow:auto;
	border-bottom:1px solid #D9D9D9;
	margin-bottom:30px;
	padding:10px 20px;
}

#page-content #single-post #comments .comment:first-child {
	background-color:#D9D9D9;
	padding:20px;
	border-bottom:none;
}

#page-content #single-post #comments .comment:last-child {
	margin-bottom:0px;
}

#page-content #single-post #comments .comment .votes-contain {
	float:left;
	width:40px;
	padding:2px 5px;
	border:1px solid #A3A1A1;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#B5B5B5;
	/*color:#FFF;*/
}

#page-content #single-post #comments .comment .votes-contain > i,
#page-content #single-post #comments .comment .votes-contain > span {
	display:block;
	margin-top:3px;
	text-align:center;
}

#page-content #single-post #comments .comment .votes-contain span.count {
	font-size:14px;
	font-weight:700;
}

#page-content #single-post #comments .comment .content {
	float:left;
	margin-left:30px;
	width:70%;	
	font-size:14px;
}

#page-content #single-post #comments .comment:first-child .content {
	font-size:15px;
}

#page-content #single-post #comments .comment .content > a#delete {
	display:inline-block;
	font-size:12px;
	margin-top:6px;	
}

#page-content #single-post #comments .comment .content span.timestamp {
	display:block;
	font-size:13px;
	margin-top:12px;	
}

#page-content #single-post #comments .comment .comment-owner {
	float:right;
}

#page-content #single-post #comments .comment:first-child .comment-owner > img {
	width:75px;
	height:75px;
	border:1px solid #A6A6A6;
	border-radius:37.5px;
	-webkit-border-radius:37.5px;
	-moz-border-radius:37.5px;	
}

#page-content #single-post #comments .comment .comment-owner > img {
	width:50px;
	height:50px;
	border:1px solid #A6A6A6;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;	
}

#page-content #single-post #comments #comment-points-disclaimer {
	margin-top:50px;
	padding-top:8px;
	border-top:1px solid #BABABA;
	font-weight:700;
	font-size:14px;
}

#page-content #single-post #comments form#add-comment {
	margin-top:50px;
}

#page-content #single-post #comments form#add-comment > p {
	font-size:17px;	
}

#page-content #single-post #comments form#add-comment textarea {
	margin-top:20px;
	height:175px;
}

#page-content #single-post #comments form#add-comment input[type='submit'] {
	padding:10px;
	width:50%;
	margin-top:15px;
}

#page-content #single-post #right-column #post-info {
	text-align:center;
	padding:15px;
	background-color:#FAF3CF;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:2px solid #EAE4C3;
}

#page-content #single-post #right-column #post-info > img#owner {
	display:block;
	margin:0 auto;
	margin-top:17px;
	margin-bottom:10px;
	width:75px;
	height:75px;
	border:1px solid #A6A6A6;
	border-radius:37.5px;
	-webkit-border-radius:37.5px;
	-moz-border-radius:37.5px;	
}

#page-content #single-post #right-column #post-info p#timestamp {
	text-transform:uppercase;
	font-size:11px;
}

#page-content #single-post #right-column #post-info #tags {
	margin-top:10px;
}

#page-content #single-post #right-column #post-info #tags > span {
	display:inline-block;
	padding:5px;
	background-color:#3F98C8;
	color:#fff;
	font-size:11px;
	font-weight:700;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin-right:5px;
	margin-bottom:10px;	
}

#page-content #single-post #right-column #post-info #upvoters {
	margin-top:30px;
}

#page-content #single-post #right-column #post-info #upvoters > img {
	width:40px;
	height:40px;
	border:1px solid #A6A6A6;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	margin-right:12px;
}

#page-content #single-post #right-column #post-info #upvoters > img:last-child {
	margin-right:0px;
}

#page-content #single-post #right-column #post-info #upvoters p#title {
	padding-top:8px;
	border-top:1px solid #EAD4BA;
	text-transform:uppercase;
	font-size:11px;
	margin-bottom:15px;
}

#page-content #profile #profile-top {
	overflow:auto;
	background-color:#FAF3CF;
	padding:28px;
	border:2px solid #EAE4C3;	
}

#page-content #profile #profile-top img#profile-pic {
	float:left;
	width:200px;
	height:200px;
	border:1px solid #A6A6A6;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	margin-right:25px;
}

#page-content #profile #profile-top #account-info {
	float:left;
}

#page-content #profile #profile-top #account-info p#username {
	font-size:25px;
	margin-bottom:10px;
}

#page-content #profile #profile-top #account-info p#title {
	font-size:16px;
	margin-bottom:25px;
}

#page-content #profile #profile-top #account-info p#points {
	display:inline-block;
	padding:4px 10px;
	font-size:17px;
	font-weight:700;
	color:#FFF;
	background-color:#3F98C8;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	margin-bottom:6px;
}

#page-content #profile #profile-top #account-info p#points > i.fa {
	margin-right:4px;
}

#page-content #profile #activity {
	margin-top:50px;
}

#page-content #profile #activity #ops {
	border-bottom:1px solid #D9D9D9;
}

#page-content #profile #activity #ops > a {
	display:inline-block;	
	padding:10px;
}

#page-content #profile #activity #ops > a.active {
	background-color:#FFAB47;
	color:#FFF;		
}

#page-content #profile #activity .feed {
	display:none;
	margin-top:25px;
}

#page-content #profile #activity .feed > div {
	overflow:auto;	
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #D9D9D9;	
}

#page-content #profile #activity .feed > div > p {
	float:left;	
}

#page-content #profile #activity .feed > div > p.votes {
	font-size:20px;
	text-align:center;
	margin-right:15px;
}

#page-content #profile #activity .feed > div > p.votes > span {
	display:block;
	font-size:12px;	
}

#page-content #profile #activity .feed > div > p.title {
	font-weight:700;
	font-size:15px;
	padding-top:4px;
	max-width:75%;
}

#page-content #profile #activity .feed > div > p.title > span.tags {
	display:block;
	font-weight:400;
	font-size:12px;
	margin-top:6px;	
}

#page-content #profile #activity .feed > div > p.title > span.tags > span {
	display:inline-block;
	background-color:#F2B000;
	color:#FFF;
	padding:2px;
	border-radius:6px;	
}

#page-content #profile #activity .feed > div > p.timestamp {
	float:right;
	padding-top:4px;
	font-size:13px;
	vertical-align:bottom;
}

#page-content #profile #activity .feed > div > img.owner-profile-pic {
	float:right;
	margin-top:4px;
	width:50px;
	height:50px;
	border:1px solid #A6A6A6;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;	
}